body{
    
}

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../media/img/jkpg_sky.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#activities{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../media/img/ju_residence.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1250px;
    overflow: hidden;
    position: relative;
}

.info-card{
    box-shadow: 1px 1px 25px rgb(12, 12, 12);
}

#activities{
    color: rgb(190, 190, 190);
    text-align: center;
    background-color: rgb(8, 8, 8);
}

#activities h2{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 150%;
}

#activities .info-card{
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
}

#activities h3{
    font-size: 125%;
    padding-top: 40px;
    margin-bottom: 30px;
}

#activities img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#activities p{
    padding: 20px 10px;
    color: rgb(148, 147, 147);
}