/* Global settings */

*{
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(230, 230, 230);
    font-size: 18px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

/* Column structure */

.col{    
    padding: 45px 0;
}

.col-1{
    width: 80%;
    margin-left: 10%;
}

.col-3{
    float: left;
    width: 30%;
    margin-left: 3%;
}

.col-5{
    float: left;
    width: 16%;
    margin-left: 3%;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.hero{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Navigation */

header{
    width: 100%;
}

nav{    
    position: fixed;
    top: 0;
    left: 0;    
    z-index: 2;
    width: 100%;
    height: 80px;    
}

.dockedNav{
    background-color: rgb(16, 16, 16);
    box-shadow: 0 1px 25px rgb(19, 19, 19);
    transition: 0.3s;
}

/* Scale the banner area */

.banner{
    height: 100%;
}

.banner img{
    height: 60%;
    margin: 15px 0 0 20px;
}

/* Settings for entire topbar */

.navbar{
    height: 100%;
    padding-top: 28px;
    float: right;
}

.navbar-link{
    border-bottom: 3px solid rgba(190, 190, 190, 0);
    padding-bottom: 5px;
    display: inline-block;
    margin-right: 30px;
    font-size: 120%;
    color: rgb(211, 211, 211);
    transition: all 0.4s;
}

.navbar-link:hover{
    border-bottom: 3px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
    cursor: pointer;
}

.navbar-link a,
.navbar-link a:active{
    text-decoration: none;
    color: rgb(211, 211, 211);;
}

/* Content */

section{
    width: 100%;
}

.hero-content{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(0, -50%);
    color: rgb(190, 190, 190);
}

.hero-content h1{
    font-size: 180%;
    margin-bottom: 30px;
}

.hero-content p{
    color: rgb(210, 210, 210);
}

.hero-content p:first-of-type{
    margin-bottom: 3px;    
}

#scroll-prompt{
    color: rgb(190, 190, 190);
    font-size: 200%;
    position: absolute;
    bottom: 55px;    
}

#scroll-prompt:hover{
    cursor: pointer;
}

#scroll-prompt li{
    line-height: 60%;
    transform: rotate(90deg);
    opacity: 25%;
}

#scroll-prompt li:nth-of-type(1){
    animation-name: fade;    
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

#scroll-prompt li:nth-of-type(2){
    animation-name: fade;
    animation-delay: 0.5s;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

#scroll-prompt li:nth-of-type(3){
    animation-name: fade;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes fade {
    0%{
        opacity: 25%;
    }

    50%{
        opacity: 50%;
    }

    100%{
        opacity: 25%;
    }
}

