.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../media/img/ju_home.jpg");
    background-attachment: fixed;
}

#projects{
    color: rgb(190, 190, 190);
    text-align: center;    
    background-color: rgb(8, 8, 8);
}

#projects h2{
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 150%;
}

.card-container{
    padding: 50px 60px;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(5, 1fr);
}

.card-container a{
    display: inline-block;
    text-decoration: none;
    color: rgb(190, 190, 190);
}

#projects .info-card{
    background-color: rgb(24, 24, 24);
    box-shadow: 1px 1px 25px rgb(12, 12, 12);
    border-radius: 5px;
}

#projects .info-card:hover{
    box-shadow: 1px 1px 15px rgb(87, 87, 87);
}

#projects h3{
    font-size: 125%;
    padding: 40px 10px 0 10px;
    margin-bottom: 30px;
}

#projects img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#projects p{
    text-align: left;
    padding: 20px 15px;
    color: rgb(148, 147, 147);
}